body {
    background-image: url(../img/bg.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
input{
    cursor: pointer;
}
*{
    outline: none !important;
}
/* header */
header{
    padding:20px;
    background:rgba(0,0,0,0.2);
}
header .header-container{
    display: table;
    margin:0 auto;
}
header img{
    height:100px;
    margin:0 20px;
    display: inline-block;
    vertical-align:middle;
}
header h2{
    color:#fff;
    text-transform:uppercase;
    display: inline-block;
    vertical-align:middle;
}
/* content container */
div#content{
    background:rgba(0,0,0,0.2);
}
div#content .container{
    background:rgba(255,255,255,0.5);
    padding:40px;
}
div#content .container p{
    font-size:20px;
    text-transform:uppercase;
    vertical-align:middle;
    padding: 0 10px;
}
/* row form */
.row.form-row{
    padding: 40px 0;
}
/* colors */
.color-block{
    float:left;
    position:relative;
    margin: 10px 10px 10px 0;
    width:35px;
    height:35px;
}
.color-block:hover img{
    opacity:0.6;
}
.color-block img{
    width:35px;
    height:35px;
    top:0;
    display:block;
    border-radius:50%;
    position:absolute;
    border:solid 1px #dedede;
      -webkit-transition: all ease-out;
     -moz-transition: all 500ms ease-out;
       -o-transition: all 500ms ease-out;
          transition: all 500ms ease-out;
}
.color-block input{
    background:none !important;
    width:35px;
    height:35px;
    padding:0;
    opacity:0;
    z-index:4;
    margin:0;
    position:absolute;
    z-index:1;
    color:transparent !important;
} 
.color-block input:checked + span img{
    box-shadow:0 0 5px 5px #000;
}
/* beard */
.beards p,.bodies p{
    padding:40px 0;
}
.beard-block{
    float:left;
    position:relative;
    margin-right:30px;
    width:100px;
    height:150px;
}
.beard-block img{
    width:100px;
    top:0;
    display:block;
    position:absolute;
    border:solid 1px #dedede;
    padding:10px;
    border-radius:15px;
    background:rgba(255,255,255,0.5);
      -webkit-transition: all ease-out;
     -moz-transition: all 10ms ease-out;
       -o-transition: all 10ms ease-out;
          transition: all 10ms ease-out;
}
.beard-block:hover img{
    transform:rotateY(360deg) !important;
    -webkit-transform:rotateY(360deg) !important;
    -moz-transform:rotateY(360deg) !important;
    -o-transform:rotateY(360deg) !important;
      -webkit-transition: all ease-out;
     -moz-transition: all 500ms ease-out;
       -o-transition: all 500ms ease-out;
          transition: all 500ms ease-out;
}
.beard-block input{
    background:none !important;
    width:100px;
    height:150px;
    padding:0;
    opacity:0;
    z-index:4;
    margin:0;
    position:absolute;
    z-index:1;
    color:transparent !important;
} 
.beard-block input:checked + span img{
    box-shadow:0 0 5px 5px #000;
}
/* button */
.calculate button {
    background:rgba(255, 255, 255, 0.5);
    border-radius:50px;
    display:table;
    margin:20px auto;
    padding: 5px 20px;
    text-align:center;
    overflow:hidden;
}
.calculate button img{
    width:50px;
    vertical-align:middle;
    display:inline-block;
    -webkit-transition: all ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.calculate button p{
    display:inline-block !important;
    font-weight:bold;
    margin: 0;
    -webkit-transition: all ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.calculate button:hover img{
    transform:translate(75px);
}
.calculate button:hover p{
   opacity:0;
    transform:translate(70px);
}
/* result */
.result {
   position:fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background:rgba(0,0,0,0.5);
}
.result-inner{
    max-width:500px;
    position:relative;
    display:table;
    margin: 5% auto;
    vertical-align:middle;
    z-index: 9999999999;
}
.result-inner .logo,.result-inner .theresult{
    display:block;
    width:100%;
}
.result-inner img{
    height:200px;
    margin:0 auto;
    display:block;
}
.result-inner p{
    color:#fff;
    font-size: 80px !important;
    display:block;
    width:100%;
    text-align: center;
    clear:both;
}
.result-inner p.error{
    font-size: 40px !important;
}
.close {
    position:fixed;
    top:5%;
    right:5%;
    color:#fff;
    opacity:1;
    font-size:50px;
}