<!DOCTYPE html>
<html ng-app="lionApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta property="og:url"           content="http://mywebsite.com/index.html" />
    <meta property="og:type"          content="http://mywebsite.com" />
    <meta property="og:title"         content="Lion Calculator" />
    <meta property="og:description"   content="Calculate how many lions for your frind" />
    <meta property="og:image"         content="/img/logo.png" />

	<title>Lion Calculator</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/rzslider.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/rzslider.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
<!-- facebook plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=820690547985432";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<div ng-controller="lionCtrl">
		<header>
	         <div class="container">
	           <div class="row">
	              <div class="header-container">
	                <img src="img/logo.png" alt="Lion Calculator">
	                <h2>{{lang[lng].header}}</h2>
	              </div>
	              <div class="lang-container">
	                <ul>
	                  <li><a ng-click="langEng()"><img src="img/english.png" alt=""></a></li>
	                  <li><a ng-click="langGerm()"><img src="img/germany.png" alt=""></a></li>
	                </ul>
	              </div>
	           </div>
	         </div>
	    </header>

	    <div id="content">
      		<div class="container">
	      		<div class="row form-row">
		          <div class="col-lg-3 col-md-3">
		              <p  class="title">{{lang[lng].age}}:</p>
		          </div>
		          <div class="col-lg-9 col-md-9">
		              <rzslider rz-slider-model="ageslider.value" rz-slider-options="ageslider.options"></rzslider>
		          </div>
		        </div>
		        <div class="row form-row">
		          <div class="col-lg-3 col-md-3">
		              <p  class="title">{{lang[lng].height}} (cm):</p>
		          </div>
		          <div class="col-lg-9 col-md-9">
		              <rzslider rz-slider-model="heighslider.value" rz-slider-options="heighslider.options"></rzslider>
		          </div>
		        </div>
		        <div class="row form-row colors">
		          <div class="col-lg-3 col-md-3">
		              <p  class="title">{{lang[lng].hair}}:</p>
		          </div>
		          <div class="col-lg-9 col-md-9">
		            <div ng-repeat="clr in colors" class="color-block">
		              <input type="radio" id="color{{clr.value}}" name="color" ng-model="$parent.chosecolor" ng-value="clr.value">
		              <span for="color{{clr.value}}" class="color"><img src="img/colors/{{clr.color}}.jpg" alt="lion-{{clr.color}}"></span>
		            </div>
		          </div>
		        </div>
		        <div class="row form-row hairs">
		          <div class="col-lg-3 col-md-3">
		              <p  class="title">{{lang[lng].hairl}}:</p>
		          </div>
		          <div class="col-lg-9 col-md-9">
		            <div ng-repeat="har in hairs" class="beard-block hairs-block">
		              <input type="radio" id="hair{{bea.value}}" name="hair" ng-model="$parent.chosehair" ng-value="har.value">
		              <span for="beard{{har.value}}" class="hair"><img src="img/hair/{{har.shape}}.png" alt="lion-{{har.shape}}"></span>
		            </div>
		          </div>
		        </div>
		        <div class="row form-row eye">
		          <div class="col-lg-3 col-md-3">
		              <p  class="title">{{lang[lng].eye}}:</p>
		          </div>
		          <div class="col-lg-9 col-md-9">
		            <div ng-repeat="eclr in eyecolors" class="color-block">
		              <input type="radio" id="ecolor{{eclr.value}}" name="eyecolor" ng-model="$parent.choseEye" ng-value="eclr.value">
		              <span for="ecolor{{eclr.value}}" class="color"><img src="img/colors/{{eclr.color}}.jpg" alt="lion-{{eclr.color}}"></span>
		            </div>
		          </div>
		        </div>
		        <div class="row form-row beards">
		          <div class="col-lg-3 col-md-3">
		              <p  class="title">{{lang[lng].beard}}:</p>
		          </div>
		          <div class="col-lg-9 col-md-9">
		            <div ng-repeat="bea in beard" class="beard-block">
		              <input type="radio" id="color{{bea.value}}" name="beard" ng-model="$parent.chosebeard" ng-value="bea.value">
		              <span for="beard{{bea.value}}" class="beard"><img src="img/beard/{{bea.shape}}.png" alt="lion-{{bea.shape}}"></span>
		            </div>
		          </div>
		        </div>
		        <div class="row form-row bodies">
		          <div class="col-lg-3 col-md-3">
		              <p class="title">{{lang[lng].body}}:</p>
		          </div>
		          <div class="col-lg-9 col-md-9">
		            <div ng-repeat="bod in bodies" class="body-block beard-block">
		              <input type="radio" id="body{{bod.value}}" name="body" ng-model="$parent.chosebody" ng-value="bod.value">
		              <span for="body{{bod.value}}" class="body"><img src="img/body/{{bod.shape}}.png" alt="lion-{{bod.shape}}"></span>
		            </div>
		          </div>
		        </div>
		        <div class="row form-row">
		          <div class="calculate">
		            <button ng-click="calculate()"><img src="img/button.png" alt="Lion-Calculate"><p>{{lang[lng].cal}}</p></button>
		          </div>
		          <div ng-show="result"  class="result">
			            <div class="result-inner">
			              <div class="close" ng-click="closeResult()">X</div>
			              <div class="logo">
			                <img src="img/logo.png" alt="Lion Calculator">
			              </div>
			              <div ng-hide="errors" class="theresult">
			                <p class="error">{{lang[lng].friend}}</p>
			                <p>{{result | number : 0}}</p>
			                <p class="error">{{lang[lng].lion}}</p>
			              </div>
			              <div ng-show="errors" class="theresult">
			                <p class="error">{{lang[lng].please}}</p>
			              </div>
			              <div ng-hide="errors" class="share">
			                <ul>
			                  <li class="facebook"><a href="https://www.facebook.com/sharer.php?u=http://kamelrechner.de/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			                  <li class="twitter"><a href="https://twitter.com/share?via=NourHabib&url=http://kamelrechner.de/&text=My friend is worth {{result | number : 0}} Lions."><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			                  <li class="whatsapp"><a href="whatsapp://send?text=My friend is worth {{result | number : 0}} Lions. http://kamelrechner.de/"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
			                </ul>
			              </div>
			            </div>
		          </div>
		        </div>
		        <div class="row form-row">
		            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		        </div>
        	</div>
      	</div>     	
      	<footer>
			<p>{{lang[lng].develop}} Nour Habib</p>
		</footer>
	</div>
</body>
</html>